*{margin:0;padding:0;}
body{font-size:12px;font-family:"微软雅黑";background-color: #9e9e9e;}
a{text-decoration:none;}
ul,li{list-style:none;}
span{
	color: red;
	font-size:12px;font-family:"微软雅黑";
	}
/*start box*/
.box{margin-left:460px;margin-top:100px;width:390px;height:350px;border:1px solid #ddd;background-color:#ececec;border-radius:15px;position:absolute;}
.box .pt{height:80px;line-height:80px;font-size:16px;font-weight:700;}
.box .pt a{text-indent:2em;color:#000;display:inline-block;transition:all .6s ease;}
.box .pt{text-indent:2em;color:#000;display:inline-block;transition:all .6s ease;}
/*.box .pt a:first-child{margin-right:2em;}
.box .pt a:hover{transform:scale(1.6);transition:all .3s ease;}*/
.box .login{width:340px;}
.box .login p{height:46px;margin-bottom:20px;}
.box .login p input.text{width:340px;height:46px;border:1px solid #ddd;border-radius:10px;text-indent:40px;}
.box .login p input.user{background:url("../images/user.png") no-repeat 10px center;}
.box .login p input.pwd{background:url("../images/pwd.png") no-repeat 10px center;}
.box .login p input.btn{width:340px;height:46px;border:0;background:#000;color:#fff;font-size:16px;font-weight:700;cursor:pointer;border-radius:3px;border:0;}
.box .login p.links{margin-top:28px;height:16px;}
.box .login .links a{text-decoration:none;color:#666;}
/*.box .login .links a:first-child{float:left;}
.box .login .links a:last-child{float:right;}*/
.box .login .links a{float:right;}
/*end box*/
#uls li{position:absolute;left:2em;display:none;}
#uls li.curr{display:block;}


